.mainBlock {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;    
    height: 642px;
    .mainSlider {
        height: 100%;
        width: 100%;
        padding: 20px;
        border-right: 1px solid #bebebe;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainInfo {
        padding: 25px;
        .mainInfoItem {
            display: flex;
            margin-bottom: 15px;
            font-size: 18px;
            span {
                width: 30%;
            }
            .infoTypeClass {
                width: auto;
                padding: 3px 10px;
                background: #ededed;
                border-radius: 5px;
                box-shadow: 0 4px 10px -1px rgba(0,0,0,0.54);
            }
        }        
    }
    .colorTitle {
        background: #00B6FF;
        color: #ffffff;
        text-align: center;
        position: relative;
        font-size: 18px;
        font-weight: bold;
        padding: 20px 0;
        span {
            position: absolute;
            left: 0;
            top: 0;
            background: #009ad6;
            text-align: center;
            width: 61px;
            line-height: 61px;
            height: 100%;
            font-size: 24px;
            cursor: pointer;
            &:hover {
                background: #0077ab;
            }
        }
    }
    .mainColors {        
        padding: 30px 80px;
        display: flex;
        justify-content: space-between;        
        .colorItem {
            width: 30%;
            list-style: none;
            position: relative;
            cursor: pointer;
            transition: all 0.5s linear;
            &.active {
                transform: scale(1.1);
            }
            .activeIcon {
                position: absolute;
                right: 10px;
                top: 10px;
                color: #00B6FF;
            }
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
            }
            .colorType {
                width: 100%;
                padding: 5px 0;
                position: absolute;
                bottom: 0;
                left: 0;
                background: rgba(70, 70, 70, 0.7);
                color: #fff;
                text-align: center;         
            }
        }
    }
}