@import "~bootstrap/scss/bootstrap";

body {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}
.main-content {
    height: 642px;
    border-bottom: 1px solid #bebebe;
}

/*----Main Slider------*/

.slide-show .ss-indicators > div > span {
    border-radius: 2px;
}
.slide-show .ss-images-size img {
    border-radius: 7px;
}


/*---End-Main Slider-----*/